# ignore nginx container/image
# was used for learning about docker
# but not ready to discard it yet
./nginx
./nginx/
*/nginx/
nginx/
node_modules/

postgres/data/

# ignore config files
.DS_Store
*/.DS_Store
.env

# ignore newrelic files
newrelic.js
newrelic_agent.log
